@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
/* TAB COLOR */
/* SCROLLBAR COLORS */
/* NOTE LIST COLOR */
h2 {
  font-size: 3rem;
}

h3 {
  font-size: 5em;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
p {
  pointer-events: none;
}

html {
  font-size: 62.5%;
}

html,
body {
  min-height: 100vh;
  height: 100%;
  font-family: "PT Sans", sans-serif;
  background-color: #dee2e6;
}

.hidden {
  display: none !important;
}

.tabs {
  position: relative;
  max-width: 140rem;
  padding: 0 1rem;
  margin: 0 auto;
  height: 10rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tabs-wrapper {
  width: 50rem;
  display: flex;
  justify-content: space-evenly;
}

.tab-link:first-child {
  border-top-left-radius: 3rem;
  border-bottom-left-radius: 3rem;
}

.tab-link:last-child {
  border-top-right-radius: 3rem;
  border-bottom-right-radius: 3rem;
}

.tab-link {
  background-color: #e599f7;
  display: flex;
  justify-content: center;
  width: 50%;
  transition: background-color 0.4s;
}
.tab-link .icons {
  font-size: 6rem;
  z-index: 1;
}
.tab-link:hover, .tab-link.active {
  background-color: #9c36b5;
}

.button {
  padding: 0.5rem 1rem;
  min-width: 30%;
  cursor: pointer;
  border: none;
}

.update-button {
  border: none;
  background-color: #c0eb75;
}

.publish-button {
  display: block;
  padding: 1rem;
  width: 100%;
  font-size: 2rem;
}

.modal[open] {
  outline: 1rem solid #ced4da;
  border-radius: 1rem;
  top: 50%;
  left: 50%;
  width: 35rem;
  height: 35rem;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.modal[open] h2 {
  margin-bottom: 4rem;
}

.modal-form-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.modal-form-content label {
  font-size: 2rem;
}
.modal-form-content input {
  padding: 1rem;
  border: 1px solid #000 !important;
}

.input-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.modal::backdrop {
  background: black;
  opacity: 0.3;
}

.all-notes-container {
  display: flex;
  justify-content: center;
  max-width: 140rem;
  padding: 0 1rem;
  margin: 0 auto;
}

.list-container {
  min-width: 35rem;
  outline: 1rem solid #ced4da;
  border-radius: 1rem;
  min-height: 60rem;
  max-height: 60rem;
  overflow-y: auto;
}

.list-container::-webkit-scrollbar {
  width: 12px;
}

.list-container::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.list-container::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 6px;
}

.list-container::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.notes-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  background: #f1f3f5;
  padding: 1rem;
  min-height: 100%;
}

.note-item {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: white;
  padding: 1rem;
  outline: 1px solid black;
  list-style: none;
}
.note-item textarea {
  border: none;
  outline: none;
  resize: none;
  cursor: default;
}

.autor-container {
  display: flex;
  align-items: center;
}
.autor-container span {
  font-size: 2rem;
}
.autor-container .icon {
  width: 3rem;
  height: 3rem;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.create-note-container {
  max-width: 140rem;
  padding: 0 1rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.create-note-container .create-note-form {
  background-color: #f1f3f5;
  outline: 1rem solid #ced4da;
  border-radius: 1rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-width: 35rem;
  min-height: 60rem;
  max-height: 60rem;
}
.create-note-container .create-note-form .note-field {
  width: 100%;
  display: inline-block;
  padding: 1rem;
  border: 1px solid black;
  outline: none;
  height: 30rem;
  resize: none;
}
.create-note-container .create-note-form .title-input {
  width: 100%;
}
.create-note-container .input-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.create-note-container .input-container label {
  font-size: 2rem;
}
.create-note-container .input-container input {
  width: 100%;
  padding: 1rem;
  border: none;
}
.create-note-container .input-container #username {
  pointer-events: none;
  background-color: #999;
}/*# sourceMappingURL=main.css.map */