@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html {
   font-size: 62.5%;
}

html,
body {
   min-height: 100vh;
   height: 100%;
   font-family: 'PT Sans', sans-serif;
   background-color: #f1f3f5;
}

.hidden {
   display: none !important;
}
