@use '../abstracts/mixin' as m;
@use '../abstracts/colors' as c;
.all-notes-container {
   display: flex;
   justify-content: center;

   @include m.container;
}

.list-container {
   min-width: 50rem;
   outline: 1rem solid #ced4da;
   border-radius: 1rem;
   height: 60rem;
   overflow-y: auto;
}

.list-container::-webkit-scrollbar {
   width: 12px;
}

.list-container::-webkit-scrollbar-track {
   background: #f1f1f1;
}

.list-container::-webkit-scrollbar-thumb {
   background: #888;
   border-radius: 6px;
}

.list-container::-webkit-scrollbar-thumb:hover {
   background: #555;
}
.notes-list {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 2rem;
   background: #f1f3f5;
   padding: 1rem;
   height: 100%;
}

.note-item {
   display: flex;
   flex-direction: column;
   gap: 1rem;
   background-color: white;
   padding: 1rem;
   outline: 1px solid black;
   @include m.reset-list;
   textarea {
      border: none;
      outline: none;
      resize: none;
      cursor: default;
   }
}

.autor-container {
   display: flex;
   align-items: center;

   span {
      font-size: 2rem;
   }
   .icon {
      width: 3rem;
      height: 3rem;
   }
}

.button-container {
   display: flex;
   justify-content: center;
   gap: 2rem;
   .edit-button {
      border: none;
   }
   .delete-button {
      border: none;
   }
}
.update-button {
   background-color: red;
}
