@use '../abstracts/mixin' as m;
@use '../abstracts/colors' as c;

.create-note-container {
   @include m.container;

   display: flex;
   align-items: center;
   justify-content: center;

   .create-note-form {
      background-color: c.$note-list-background;
      outline: 1rem solid c.$outlineClr;
      border-radius: 1rem;
      padding: 2rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      min-width: 35rem;
      min-height: 60rem;
      max-height: 60rem;
      .note-field {
         width: 100%;
         display: inline-block;
         padding: 1rem;
         border: 1px solid black;
         outline: none;
         height: 30rem;
         resize: none;
      }
      .title-input {
         width: 100%;
      }
   }

   .input-container {
      width: 100%;
      display: flex;
      flex-direction: column;

      label {
         font-size: 2rem;
      }
      input {
         width: 100%;
         padding: 1rem;
         border: none;
      }

      #username {
         pointer-events: none;
         background-color: #999;
      }
   }
}
