$primary-color: #da77f2;
$background-color: #eebefa;
$body-color: #dee2e6;

/* TAB COLOR */
$tab-color: #e599f7;
$tab-color-active: #9c36b5;

/* SCROLLBAR COLORS */
$scroll-track: #f1f1f1;
$scroll-thumb: #888;
$scroll-hover: #555;

/* NOTE LIST COLOR */
$note-list-background: #f1f3f5;
$outlineClr: #ced4da;
